.container {
    margin-top: 30px;
    max-width: 100%;
}

.header {
    font-weight: 600;
    margin-bottom: 10px;
}

.image {
    display: block;
    max-height: 300px;
    width: auto;
    max-width: 100%;
}

.info {
    margin-top: 10px;
    font-weight: 450;
    font-size: larger;
}

.timing {
    margin-top: 2px;
    font-weight: 400;
    font-size: medium;
}