.main {
  width: 100%;
}

.body {
  width: 100%;
  max-width: 640px;
  margin: 0px auto;
  margin-top: 40px;
  color: #202020;
  padding: 15px;
  padding-bottom: 200px;
}

.header {
  color: #303030;
  font-weight: 800;
  margin-bottom: 20px;
}

.p {
  margin-bottom: 10px;
}

.p a {
  color: blue;
}

.uploader {
  margin-top: 20px;
}

.tool {
  margin-top: 20px;
}
