.container {
  margin-top: 20px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.image {
  display: block;
  width: 100%;
}
